*.xlsx
微信图片/
venv/
*.jpg
D:\Code\wxauto\wxauto文件/
config.py



## 合并新更新文件
## git remote add upstream https://github.com/cluic/wxauto.git
# git fetch upstream
# git checkout main
# git merge upstream/WeChat3.9.11


## 特殊解决方法，当上传了大文件，若gitignore未生效，删掉缓存，重新上传。
#```
#git rm -r --cached .
#git add .
#git commit -m 'update.gitignore'
#git push origin main
#```